
/* TODO TYPOGRAPHY
-------------------------------------------------- */

header h1, figure h1 {font: 700 1.4em/46px 'Titillium Web', sans-serif;}
figure p  {font: 400 1.35em/40px 'Roboto Condensed', sans-serif;}



#nav li  {font-family:'Roboto Condensed', sans-serif;font-weight:600;}
.inner figure p {font: 400 1.15em/2.2em 'Roboto Condensed', sans-serif;color:#888;}
.inner a {font: 400 0.85em/0em 'Roboto Condensed', sans-serif;color:#777;}
.text p {font: 400 1.05em/2.1em 'PT Sans', sans-serif;}
.-box h3 {font: 600 1.1em 'Roboto Condensed', sans-serif;}	
.-box p {font: 400 0.8em 'Titillium Web', sans-serif;}

.sp-slider > li h1  {font-family:'PT Sans', sans-serif;font-weight:300;}
#s-sign h2, #s-text h2, #s-liter h2, #s-video h2{font: 500 0.80em/25px 'Roboto Condensed', sans-serif;}

