
/* HEADER HEAD CONTENT LAYOUT
-------------------------------------------------- */

html{overflow:hidden;}
body { background:#3887b9; margin:auto;width:100%;}

#content{margin:0;min-width:1600px;}
#rules{ margin:auto;background:#3887b9 url('../../images/iphone-bg.png') center center no-repeat;height:1031px; width:100%;}
#iphone-container {height:1031px; width:100%;margin:auto;top:210px;}
#iphone-content  {margin:0;min-height:345px;padding:220px 10px;overflow:hidden;}
#iphone-content ul {margin:0;padding:0;list-style:none;width:100%;font-size:105%;color:#fff;}

body ol {position:absolute;z-index:999;width:350px;margin-bottom:50px;top:67px;}
body ol li, body ol a.demo{color:#acd5ef;font-size:83%;margin-bottom:30px;line-height:15px;}

body a.demo1 {text-decoration:none;color:#acd5ef;}
body a.demo2 {text-decoration:none;color:#fff;}
body a.variante {text-decoration:none;color:#acd5ef;}

body p {color:#acd5ef;font-size:83%;}
body p.demo1  {color:#acd5ef;font-size:83%;}
body p.demo2, body li.demo2  {color:#fff;font-size:83%;line-height:15px;}

#iphone-content ul.price {height:1031px; width:370px;margin:-10px auto;}
#iphone-content ul.price li.pr-single {text-indent:-9000px;margin:0;padding:0;list-style:none;width:auto;text-align:center;background: url('../../images/etiquette-globale-sprite.png') 30px -347px no-repeat;height:575px}
#iphone-content ul.price li.bt-demo-web {margin:-80px 0 0 ;padding:0;list-style:none;width:100%;text-align:center;}


/* RESPONSIVE CSS RETINA TODO 
-------------------------------------------------- 1
  }

    # { background: url(); }
     
    @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2) {
    # { background: url(@2x.png); background-size: 50%; }
    }
  */