
/* HEADER HEAD CONTENT LAYOUT
-------------------------------------------------- */

html{overflow:hidden;}
body { background:#3887b9; margin:auto;width:100%;}

#content{margin:0;min-width:1600px;}
#rules{ float:left;margin:auto 20%;background: url('../../images/iphone-bg-menu.png') left top no-repeat;height:1031px; width:500px;}
#rules-result{float:left;margin:0;height:1031px;width:auto;}
#iphone-container {height:1031px; width:100%;margin:auto;top:210px;}
#iphone-content  {margin:0;min-height:345px;padding:220px 10px;overflow:hidden;}

body ol {position:absolute;z-index:999;width:350px;margin-bottom:50px;top:67px;}
body ol li, body a.demo{color:#acd5ef;font-size:83%;margin-bottom:30px;line-height:15px;}

body a.demo1 {text-decoration:none;color:#fff;padding-bottom:30px;width:350px;}
body a.demo2 {text-decoration:none;color:#acd5ef;}


body p {color:#acd5ef;font-size:83%;}
body p.demo1, body li.demo1  {color:#fff;font-size:83%;line-height:15px;}
body p.demo2  {color:#acd5ef;font-size:83%;}

#iphone-content li ul {margin:0;padding:0;list-style:none;width:450px;font-size:90%;}

#iphone-content ul.price{height:1031px; width:370px;margin:-10px auto;}
#iphone-content ul.price li.pr-single {text-indent:-9000px;margin:0;padding:0;list-style:none;width:auto;text-align:center;height:575px}
#iphone-content ul.price li.bt-economiser {margin:-298px 0 0 111px;padding:0;list-style:none;width:114px;cursor:pointer;}

#iphone-content-r  {position:relative;left:-300px;width:100%;height:1031px;padding:220px 10px;overflow:hidden;background: url('../../images/iphone-bg.png') 0 0 no-repeat;}
#iphone-content-r ul.price-r  {height:375px;  margin:-10px 0 0 0;width:390px;}
#iphone-content-r ul.price-r  li.pr-single {width:370px;text-indent:-9000px;margin:0;padding:0;list-style:none;width:auto;text-align:center;background: url('../../images/etiquette-globale-sprite.png') 50px -331px no-repeat;height:575px}
#iphone-content-r ul.price-r  li.bt-demo-web{margin:-80px 0 0 11px;padding:0;list-style:none;width:100%;text-align:center;}


/* RESPONSIVE CSS RETINA TODO 
-------------------------------------------------- 1
  }

    # { background: url(); }
     
    @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2) {
    # { background: url(@2x.png); background-size: 50%; }
    }
  */