@charset "UTF-8";

/*! NORMALIZE  MODERNIZ */

html {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

html, body, div, span, object, iframe, h1, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, details, figure, figcaption, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/*! CONTENT */

body{color:#454d55;height:auto;margin:0;padding:0;width:100%;background:url(images/bg.png) 0 0 repeat}
#global{float:left;width:100%;margin:11% 0 0 0;}
#content {position:relative;width:100%;height:auto;text-align:center;left:0;margin-top:3%;}
#content h1 {font:bold 1.1em  museo-sans-1,museo-sans-2,sans-serif;font-weight:500;line-height:10px;color:#191919;}
#content h2 {font:normal 1.1em museo-sans-1,museo-sans-2,sans-serif;font-weight:100;line-height:18px;}
/*  
h1, h2text-shadow: 1px 1px #fff, -1px -1px #fff;
*/
/*  
   COMPORTEMENT ACCORDION ET/OU TABS
*/
#content ul.position {font:normal 1em museo-sans-1,museo-sans-2,sans-serif;font-weight:100;line-height:10px;margin:0;padding:30px 0 0 0;background:#fff url(images/bg-choices.png) top left repeat-x;border-bottom:2px solid #bcc4d2}  
#content ul.position li {list-style:none;margin:0;padding:0;line-height:35px;border-bottom:1px solid #bdc4d1;text-align:center;width:100%;text-decoration:none} 
#content ul.position li a{list-style:none;margin:0;padding:0;line-height:35px;text-align:center;width:100%;text-decoration:none;color:#191919} 
#content ul.position li:hover,
#content ul.position li.active{line-height:35px;background-color:#f8fafb;cursor:pointer} 
#content ul.position li span {font-weight:300;color:#191919} 
#content p {font:normal 0.7em museo-sans-1,museo-sans-2,sans-serif;padding:10px}  
/*  
   CSS SPRITE IE GLOBAL
*/
/*  
   ou RADIUS + GRADIENT et version dégradée sur IE 6/7/8 
   
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
...  
*/
.wrapper {zoom:1; border:6px solid #a3a3a3;position:relative; padding:0px;background-color:#f8fafb;text-align:left;margin-top:30px;width:93%;left:1.7%}
.corner {font-size:0;background-image:url(images/rounded.png);position:absolute; width:9px; height:9px; }
.topLeft {top:-6px; left:-6px; background-position:0px 0px;}
.topRight {top:-6px; right:-6px; background-position:-10px 0px;}
.bottomLeft {bottom:-6px; left:-6px; background-position:0px -10px;}
.bottomRight{bottom:-6px; right:-6px; background-position:-10px -10px;}
/*  
   CONTENT FORM
*/
.choices{margin:0;padding:0;border:1px solid #414d5d}
fieldset   {margin:0;padding:0;border:none;padding:6px 0 0;width:100%}
.type_form {padding:0;margin:2px;}
.type_form label, .type_form_textarea label{display:none;}
input{margin:0;padding:0;border:0;height:22px;width:100%;font:normal 0.70em museo-sans-1,museo-sans-2,sans-serif;font-weight:300;color:#8c8a8a;background: #fff url(images/bg_form.png) top left repeat-x;}
/*  
   CSS SPRITE pour input textarea à faire
*/
.tab_content{width:100%;}
input {margin:0;padding:10px 0 4px 10px;border:0;width:94.5%;font:normal 0.70em museo-sans-1,museo-sans-2,sans-serif;font-weight:300;color:#8c8a8a;background: #fff url(images/bg_form.png) top left repeat-x;outline:0;}
input#cname, input#cemail  {border:0;padding:4px 0 2px 10px;background: #fff;outline:0;}
input#cname:focus, input#cemail:focus{border:0;margin:0;padding:4px 0 2px 10px;background: #fff;outline:0}

input[type="text"]{color:#707376}
input:-moz-placeholder {color:#707376}
input::-webkit-input-placeholder {color:#707376}
textarea[type="text"]{color:#707376}
textarea:-moz-placeholder {color:#707376}
textarea::-webkit-input-placeholder {color:#707376}

fieldset ul {margin:0;padding:0;list-style:none;text-align:right;width:97%;font:normal 0.7em museo-sans-1,museo-sans-2,sans-serif;padding:10px 0 10px 9px;border-top:1px solid #d5d5d5;background:#f9f9f9;margin:0;}
fieldset ul li {margin:0;padding:0;list-style:none;display:inline;}
fieldset ul li a {margin:0;padding:0;list-style:none;display:inline;color:#707376;text-decoration:none}
fieldset ul li a:hover {margin:0;padding:0;list-style:none;display:inline;color:#707376;text-decoration:underline}
.button{background: url(images/bt_envoyer.png) 0 0 no-repeat;border:0;font-size:0;cursor:pointer;margin:0 8px 0 15px;width:75px;height:25px;vertical-align:middle}
textarea {outline:0}textarea {margin:0;padding:3px 0 2px 3px;border:0;width:94.5%;font:normal 0.70em museo-sans-1,museo-sans-2,sans-serif;font-weight:300;color:#8c8a8a;background: #fff url(images/bg_form.png) top left repeat-x;}
.type_form_textarea {zoom:1; border:1px solid #c2cee1;position:relative; padding:0;margin:8px 6px 15px 8px;width:94.5%;background: #fff;}
.corner_form {font-size:0;background-image:url(images/rounded_input.png);position:absolute; width:2px; height:2px; }
.topLeft_form{top:-1px; left:-1px; background-position:0px 0px;}
.topRight_form{top:-1px; right:-1px; background-position:-3px 0px;}
.bottomLeft_form {bottom:-1px; left:-1px; background-position:0px -3px;}
.bottomRight_form {bottom:-1px; right:-1px; background-position:-3px -3px;}

/*  
   CONTENT FORM ERROR
*/
div.container h1 span,div.container{display:none;}
div.container{background:#ff6e05 url(images/orange.png) bottom left repeat-x;position:absolute;top:0;width:100%;color:#fff;height:7.5em;box-shadow:0 3px 0 rgba(0, 0, 0, 0.1), 0 0 0 rgba(0, 0, 0, 0.1) inset;margin:0;}
div.container h1{font:normal 1em museo-sans-1,museo-sans-2,sans-serif;text-align:left;height:40px;}
div.container h2{font:normal 1em museo-sans-1,museo-sans-2,sans-serif;text-align:center;}
div.container ol{width:76.7%;text-align:center;margin-top:-4px;}
div.container ol li{text-align:center;line-height:23px;font:normal 0.85em museo-sans-1,museo-sans-2,sans-serif;color:#fff;}
div.container li label.error{width:100%;text-align:center;line-height:23px;font:normal 0.85em museo-sans-1,museo-sans-2,sans-serif;color:#fff;}

/*Fix IE7 stupid 1px bug* */ 
*+html input#cname, *+html input#cemail  {padding:10px 0 0 12px;height:25px}
