
/* HEADER HEAD CONTENT LAYOUT
-------------------------------------------------- */

html{overflow:hidden;}
body { background:#3887b9; margin:auto;width:100%;}

#content{margin:0;min-width:1600px;}
#rules{ margin:auto;background:#3887b9 url('../images/iphone-bg.png') center center no-repeat;height:1031px; width:100%;}
#iphone-container {height:1031px; width:100%;margin:auto;top:210px;}
#iphone-content  {margin:0;min-height:345px;padding:220px 10px;overflow:hidden;}
#iphone-content ul {margin:0;padding:0;list-style:none;width:400px;font-size:105%;color:#fff;}

hgroup a {display:inline;width:450px;font-size:90%;color:#fff;height:30px;}
hgroup h1 {position:absolute;z-index:1;color:#fff; top:75px;left:10px;font-size:105%;}

#iphone-content ul li.pr-single {text-indent:-9000px;margin:0;padding:0;list-style:none;width:450px;height:290px;background: url('../images/etiquette-globale.png') top left no-repeat;}

#iphone-content ul li {margin:0;padding:20px 0 0;list-style:none;width:450px;}


#iphone-content ul li.bt-single {text-indent:-9000px;margin:10px 0;padding:0;list-style:none;width:450px;height:80px;background: url('../images/bt-superB.png') top left no-repeat;}
#iphone-content ul li.bt-demo-web {text-indent:-9000px;margin:10px 0;padding:0;list-style:none;width:450px;height:50px;background: url('../images/bt_demo.png') top left no-repeat;}
#iphone-content ul li.btnr-single {text-indent:-9000px;margin:0;padding:0;list-style:none;width:450px;height:60px;background: url('../images/bt-superNR.png') top left no-repeat;}

/* RESPONSIVE CSS RETINA TODO 
-------------------------------------------------- 
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  #
  # {
    background: url() no-repeat 0 0;
    -webkit-background-size: 57px 128px;
    -moz-background-size: 57px 120px;
    background-size: 57px 128px;
    }
  }

    # { background: url(); }
     
    @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2) {
    # { background: url(@2x.png); background-size: 50%; }
    }
  */